<div class="d-flex justify-content-center mb-3">
  <div class="col-6">{{ wallet.name }} {{ wallet.value }}</div>
  <button (click)="isDetail=!isDetail" class="btn btn-outline-secondary btn-sm col-3">Детали</button>
</div>

<div class="card card-body" *ngIf="isDetail">
  <div *ngFor="let add of wallet.add_transactions" style="color: green">
    {{ add.date }} {{ add.value }}
  </div>
  <div *ngFor="let sub of wallet.sub_transactions" style="color: red">
    {{ sub.date }} {{ sub.value }}
  </div>
</div>

<router-outlet name="create-transaction"></router-outlet>
<div class="d-flex justify-content-around">
  <a [routerLink]="['add-transaction']" (click)="isAdd=!isAdd; isSub=false" type="button" class="btn btn-outline-success col-4"
    aria-pressed="true">
    Пополнить</a>
  <a [routerLink]="['sub-transaction']" (click)="isSub=!isSub; isAdd=false" type="button" class="btn btn-outline-danger col-4"
    aria-pressed="true">
    Снять</a>
</div>

<form *ngIf="isAdd || isSub" class="mt-3">
  <div class="form-group">
    <label for="value">Сумма</label>
    <input id="value" class="form-control" name="value" [(ngModel)]="transaction.value" required/>
  </div>
  <div class="form-group">
    <label for="commentary">Комментарий</label>
    <input id="commentary" class="form-control" name="commentary" [(ngModel)]="transaction.commentary"/>
  </div>
  <button type="submit" (click)="createTransaction()" class="btn btn-primary">Создать</button>
</form>
