<div class="d-flex justify-content-center mb-3">
  <div class="col-6">{{ wallet.name }} {{ wallet.value }}</div>
  <button (click)="isDetail=!isDetail" class="btn btn-outline-secondary btn-sm col-3">Детали</button>
</div>

<div class="card card-body" *ngIf="isDetail">
  <div *ngFor="let tr of wallet.transactions" style="color: green">
    <div [ngStyle]="{'color':tr.type === 'add' ? '#28a745' : '#dc3545' }">
      <div class="row">
            Тип: {{ tr.type }} Сумма перевода: {{ tr.value }} Значение после перевода:{{ tr.post_trans_value }}
      </div>
      <div class="row">
            {{ tr.date }} {{ tr.commentary }}
      </div>
    </div>
  </div>
</div>

<router-outlet name="create-transaction"></router-outlet>
<div class="d-flex justify-content-around">
  <a [routerLink]="['add-transaction']" (click)="isAdd=!isAdd; isSub=false" type="button" class="btn btn-outline-success col-4"
    aria-pressed="true">
    Пополнить</a>
  <a [routerLink]="['sub-transaction']" (click)="isSub=!isSub; isAdd=false" type="button" class="btn btn-outline-danger col-4"
    aria-pressed="true">
    Снять</a>
</div>

<form *ngIf="isAdd || isSub" class="mt-3">
  <h4><span class="badge" [ngStyle]="{'background-color':isAdd ? '#28a745' : '#dc3545' }" >
    Транзакция
  </span></h4>
  <div class="form-group">
    <label for="value">Сумма</label>
    <input id="value" class="form-control" name="value" [(ngModel)]="transaction.value" required/>
  </div>
  <div class="form-group">
    <label for="commentary">Комментарий</label>
    <input id="commentary" class="form-control" name="commentary" [(ngModel)]="transaction.commentary"/>
  </div>
  <button type="submit" (click)="createTransaction()" class="btn btn-primary">Создать</button>
</form>
